<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Trainer">
	<insert id="insert" parameterType="Trainer">
		insert into trainer(trainer_name, trainer_career, trainer_type, trainer_board, trainer_image, shop_idx)
		values(#{trainerName}, #{trainerCareer}, #{trainerType}, #{trainerBoard}, #{trainerImage}, #{shopIdx})
	</insert>
</mapper>